@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter Font */
@import url('https://fonts.bunny.net/css?family=inter:400,500,600,700');

@layer base {
  body {
    @apply bg-white text-gray-900;
    font-family: 'Inter', sans-serif;
  }
}
