body {
  height: 100%;
}

#left_menu {
  display: none;
}

.auth_form_wrapper,
.auth_form,
.auth_form_wrapper div,
.auth_form_wrapper span,
.auth_form_wrapper input,
.auth_form_wrapper button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.auth_form_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 374px;
  background: #162b3a;
  color: #555b67;
  font-size: 15px;
  z-index: 100;
  font-family: 'PT Sans', Arial, sans-serif;
}

.auth_form__field_wrapper {
  margin-top: 12px;
}

.auth_form__field_wrapper_captcha {
  display: flex;
  align-items: center;
}

.auth_form {
  padding: 0 39px;
  position: absolute;
  width: 100%;
  top: 33.5%;
  z-index: 100;
}
.auth_form:before {
  content: '';
  position: absolute;
  background-image: url(/frontend/images/interface/i/amocrm.svg);
  width: 159px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  top: -65.6px;
  left: 41%;
  margin-left: -46px;
}

.auth_form.auth_kommo:before {
  background-image: url(/frontend/images/interface/i/auth/logo-kommo_150x150.png);
  width: 148px;
  top: -120px;
  margin-left: -40.5px;
}

.kommo_link_logo {
  position: absolute;
  bottom: 37px;
  left: 50%;
  margin-left: -39px;
}

.amocrm_link_logo {
  position: absolute;
  bottom: 33px;
  left: 50%;
  margin-left: -42px;
  width: 84px;
}

.custom_input__wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
  background: var(--palette-background-default);
  border-radius: 3px;
  overflow: hidden;
}

.icon-sso {
  position: absolute;
  width: 36px;
  height: 36px;
  background: #53925b;
  border-radius: 3px 0px 0px 3px;

  .icon-cloud {
    top: 9px;
    position: absolute;
    left: 5px;
  }
}

.icon-key {
  position: absolute;
  top: 15.69px;
  left: 11.77px;
}

.auth_form__sso_text {
  font-weight: 700;
}

.auth_form__sso_text_wrapper {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -48%);
}

.icon-cloud {
  top: 9px;
  position: absolute;
  left: 5px;
}

.icon-login {
  width: 18px;
}

.icon-password {
  width: 15.3px;
  position: absolute;
  left: -0.2px;
  top: 1px;
}

.custom_input__wrapper .auth_form__icon {
  position: absolute;
  top: 5px;
  left: 8px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.custom_input__wrapper-captcha {
  padding: 0;
}

.custom_input {
  margin: 0;
  padding: 8px 10px 9px 36px;
  background: none;
  border: none;
  font-size: 15px;
  width: 100%;
  border-radius: 3px;
  color: #22252c;
  line-height: normal;
}

.custom_input-captcha {
  padding-left: 10px;
}

.custom_input:-ms-input-placeholder {
  color: #bbb;
}

.custom_input:-moz-placeholder {
  color: #bbb;
}

.custom_input::-moz-placeholder {
  color: #bbb;
}

.custom_input::-webkit-input-placeholder {
  color: #bbb;
}

.auth__mfa-input-wrapper {
  display: flex;
  gap: 8px;
}

.auth__mfa-input-code {
  padding: 0;
  text-align: center;
  height: 100%;

  font-size: 18px;
}

.auth_mfa-error-wrapper {
  margin-top: 5px;
}

.auth_mfa-resend-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.auth_recovery-resend-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 4px;
}

.auth_recovery-resend-container {
  margin-top: 10px;
}

.auth_mfa-resend-loader,
.auth_recovery-resend-loader {
  scale: 0.8;
}

.auth_mfa-resend,
.auth_recovery-resend {
  cursor: pointer;
  text-decoration: underline;
}

.auth_mfa-error {
  font-size: 15px;
  color: var(--color-begonia);
}

.auth_form__forgot_password {
  position: absolute;
  text-decoration: none;
  text-align: right;
  color: #2e4567;
  right: 10px;
  top: 8px;
  cursor: pointer;
}

.auth__mfa-form {
  .auth_form_text {
    height: 50px;
  }
}

.auth__mfa-input-wrapper {
  padding-bottom: 5px;

  .custom_input__wrapper {
    height: 40px;
  }
}

.auth__error-send-forgot,
.auth__error-send-sso {
  color: #f37575;
}

.auth_form__captcha_img_container {
  display: inline-block;
  position: relative;
}

.auth_form__reload_captcha {
  display: inline-block;
  margin-left: 21px;
  margin-bottom: 2px;
  cursor: pointer;
}

.auth_form__field_wrapper-buttons {
  text-align: justify;
  margin-bottom: -10px;
}

.auth_form__field_wrapper-sso {
  position: relative;
  height: 36px;
  background: #6ba572;
  border-radius: 3px 2px 2px 3px;
  cursor: pointer;
  margin-top: 30px;
}

.auth_form_text {
  height: 100px;
  display: table-cell;
  vertical-align: bottom;
}

.auth_form__field_wrapper-buttons:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.auth_form__submit {
  padding-top: 1px;
  margin: 0 0 1px;
  border: none;
  font-size: 15px;
  background: #1891d4;
  border-radius: 3px;
  width: 140px;
  height: 36px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #ffffff;
}

.auth_form__submit.btn-disabled {
  cursor: default;
  opacity: 0.5;
}

.auth_form__register {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  background: #162b3a;
  border: 1px solid #2b4a5d;
  border-radius: 3px;
  width: 140px;
  padding: 8px 0px 7px;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.auth_form .icon-checkbox {
  width: 19px;
  height: 19px;
  vertical-align: middle;
  background: transparent;
}

.auth_form .icon-checkbox-label {
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.3;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  letter-spacing: 0.3px;
}

.auth_form__error {
  color: #f37575;
  margin-top: 5px;
  line-height: normal;
}

.session_end_wrapper {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.session_end_wrapper.expanded {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.session_end_modal .default-overlay.default-overlay-visible {
  background: rgba(255, 255, 255, 0.4);
}
.session_end__caption {
  padding-bottom: 10px;
}
.session_end_wrapper .auth_form__forgot_password {
  top: 10px;
}

.control-checkbox-auth {
  background: transparent;
  border: 1px solid #254a64 !important;
}

.auth_form__remember {
  margin-top: 5px;
}

.social_btn__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 37px;
}

.btn-inner {
  z-index: 20;
  position: relative;
  cursor: pointer;
  padding-left: 36px;
  border-radius: 3px;
  color: #fff;
}

.inner-facebook {
  background: #254588;
}

.inner-google {
  background: #cc3f32;
}

.google-plus-g {
  position: absolute;
  left: 8px;
  top: 59%;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
  fill: #ffffff;
  width: 23px;
  height: 23px;
}

.facebook-f {
  position: absolute;
  left: 8px;
  top: 57%;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
  fill: #ffffff;
  width: 20px;
  height: 19px;
}

.btn-social {
  width: 104px;
  border-radius: 0 3px 3px 0;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.6px;
  cursor: pointer;
}

#social_google {
  background: #dc4e41;
}

#social_facebook {
  background: #3b5998;
}

.btn-name {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
}

.social-link {
  text-decoration: none;
}
